[env]
CARGO_TERM_COLOR = 'always'

[tasks.build]
sources = ['{cli/,}src/**/*.rs', '{cli/,}Cargo.toml']
outputs = ['target/debug/rtx']
run = 'cargo build --all'

[tasks.cli]
depends = ['build']
run = './target/debug/usage'
raw = true

[tasks.complete-word]
alias = ['cw']
depends = ['build']
run = './target/debug/usage cw'
raw = true

[tasks.run]
alias = ['x']
depends = ['build']
run = './examples/example.sh'
raw = true

[tasks.complete_fish]
depends = ['build']
run = './target/debug/usage g completion fish -f examples/example.sh > ~/.config/fish/completions/ex.fish'
raw = true

[tasks.test]
run = 'cargo test --all --all-features'

[tasks.lint]
depends = ['lint:*']
[tasks."lint:clippy"]
run = 'cargo clippy --all --all-features -- -D warnings'
[tasks."lint:fmt"]
run = 'cargo fmt --all -- --check'

[tasks.lint-fix]
run = [
  'cargo clippy --all --all-features --fix --allow-dirty --allow-staged -- -D warnings',
  'cargo fmt --all',
]

[tasks.ci]
depends = ['test', 'lint']
