[env]
CARGO_TERM_COLOR = 'always'
_.path = ["./target/debug"]

[tools]
"npm:prettier" = "latest"
"cargo:cargo-edit" = "latest"

[tasks.build]
sources = ['{cli/,}src/**/*.rs', '{cli/,}Cargo.toml']
outputs = ['target/debug/rtx']
run = 'cargo build --all'

[tasks.cli]
alias = ['x']
depends = ['build']
run = 'usage'
raw = true

[tasks.complete-word]
alias = ['cw']
depends = ['build']
run = 'usage cw'
raw = true

[tasks.run-example]
depends = ['build']
run = './examples/example.sh'
raw = true

[tasks.complete_fish]
depends = ['build']
run = 'usage g completion fish -f examples/example.sh > ~/.config/fish/completions/ex.fish'
raw = true

[tasks.test]
alias = 't'
run = 'cargo test --all --all-features'

[tasks.lint]
depends = ['lint:*']
[tasks."lint:prettier"]
run = "prettier -c ."
[tasks."lint:clippy"]
run = 'cargo clippy --all --all-features -- -D warnings'
[tasks."lint:fmt"]
run = 'cargo fmt --all -- --check'

[tasks.lint-fix]
run = [
  'cargo clippy --all --all-features --fix --allow-dirty --allow-staged -- -D warnings',
  'cargo fmt --all',
]

[tasks.format]
run = 'prettier -w .'

[tasks.ci]
depends = ['test', 'lint']

[tasks.render]
depends = ['render:*']

[tasks."render:mise-completions"]
depends = ['build']
run = [
  'usage g completion bash mise --usage-cmd "@mise usage" > ~/src/mise/completions/mise.bash',
  'usage g completion zsh mise --usage-cmd "@mise usage" > ~/src/mise/completions/_mise',
  'usage g completion fish mise --usage-cmd "@mise usage" > ~/src/mise/completions/mise.fish',
]

[tasks."render:example-md"]
depends = ['build']
run = [
  "usage g md examples/docs/MISE_INLINE.md",
  "usage g md examples/docs/MISE_MULTI.md",
]

[tasks.release]
run = "cargo release --workspace"
