[package]
name = "usage-lib"
edition = "2021"
rust-version = "1.70.0"
include = [
    "/Cargo.toml",
    "/Cargo.lock",
    "/README.md",
    "/LICENSE",
    "/src/**/*.rs",
]
version.workspace = true
description.workspace = true
homepage.workspace = true
documentation.workspace = true
authors.workspace = true
license.workspace = true

[workspace]
members = [
    "cli",
]
[workspace.package]
version = "0.1.5-beta.1"
description = "Library for working with usage specs"
homepage = "https://usage.jdx.dev"
documentation = "https://github.com/jdx/usage"
authors = ["Jeff Dickey @jdx"]
license = "MIT"

[workspace.dependencies]
kdl = "4"

[lib]
name = "usage"

[dependencies]
clap = { version = "4", features = ["derive", "string"], optional = true }
heck = "0.4.1"
indexmap = { version = "2", features = ["serde"] }
itertools = "0.12"
log = "0.4"
kdl.workspace = true
miette = "5"
once_cell = "1"
serde = { version = "1", features = ["derive"] }
shell-escape = "0.1"
strum = { version = "0.26", features = ["derive"] }
thiserror = "1"
xx = "0.2"

[features]
default = ["clap"]

[dev-dependencies]
ctor = "0.2"
insta = "1"

[package.metadata.release]
allow-branch = ["main"]
sign-commit = true
sign-tag = true
shared-version = true
