[env]
CARGO_TERM_COLOR = 'always'
_.path = ["./target/debug"]

[tools]
actionlint = "latest"
communique = "latest"
cargo-binstall = "1"
gh = "latest"
"cargo:cargo-edit" = "latest"
"cargo:cargo-insta" = "latest"
"cargo:cargo-release" = "latest"
"cargo:cargo-semver-checks" = "latest"
"cargo:git-cliff" = "latest"
"npm:prettier" = "latest"
shellcheck = "latest"
pnpm = "latest"

[tasks.autofix]
depends = ["render", "lint-fix", "snapshots"]

[tasks.build]
sources = ['{cli/,}src/**/*.rs', '{cli/,}Cargo.toml']
outputs = ['target/debug/rtx']
run = 'cargo build --all'

[tasks.cli]
alias = ['x']
depends = ['build']
run = 'usage'
raw = true

[tasks.complete-word]
alias = ['cw']
depends = ['build']
run = 'usage cw'
raw = true

[tasks.run-example]
depends = ['build']
run = './examples/example.sh'
raw = true

[tasks.complete_fish]
depends = ['build']
run = 'usage g completion fish -f examples/example.sh > ~/.config/fish/completions/ex.fish'
raw = true

[tasks."docs:dev"]
alias = "docs"
dir = 'docs'
run = 'npm run docs:dev'

[tasks.test]
alias = 't'
run = 'cargo test --all --all-features'

[tasks.lint]
depends = ['lint:*']
[tasks."lint:actionlint"]
run = 'actionlint'
[tasks."lint:prettier"]
run = "prettier -c ."
[tasks."lint:clippy"]
run = 'cargo clippy --all --all-features -- -D warnings'
[tasks."lint:fmt"]
run = 'cargo fmt --all -- --check'
[tasks."lint:semver"]
run = 'cargo semver-checks check-release -p usage-lib'

[tasks.lint-fix]
run = [
    'cargo clippy --all --all-features --fix --allow-dirty --allow-staged -- -D warnings',
    'cargo fmt --all',
    'prettier -w .',
]

[tasks.ci]
depends = ['test', 'lint']

[tasks.pre-commit]
depends = ['render', 'snapshots']

[tasks.render]
depends = ['render:*']

[tasks."render:usage-cli-completions"]
depends = ['build']
run = [
    'usage --usage-spec > cli/usage.usage.kdl',
    'rm -rf docs/cli/reference && mkdir -p docs/cli/reference',
    'usage g json -f cli/usage.usage.kdl > docs/cli/reference/commands.json',
    'usage g md -mf cli/usage.usage.kdl --out-dir docs/cli/reference --url-prefix /cli/reference --replace-pre-with-code-fences',
    'usage g manpage -f cli/usage.usage.kdl -o cli/assets/usage.1',
    'usage g completion bash usage --usage-cmd "usage --usage-spec" > cli/assets/completions/usage.bash',
    'usage g completion fish usage --usage-cmd "usage --usage-spec" > cli/assets/completions/usage.fish',
    'usage g completion zsh  usage --usage-cmd "usage --usage-spec" > cli/assets/completions/_usage',
    'mise run lint-fix',
]

[tasks."render:example-md"]
depends = ['build']
run = [
    "usage g md -f examples/mise.usage.kdl --out-file examples/docs/MISE_INLINE.md --replace-pre-with-code-fences",
    "usage g md -f examples/mise.usage.kdl --out-file examples/docs/MISE_MULTI.md --replace-pre-with-code-fences",
]

[tasks."render:fig"]
depends = ['build']
wait_for = 'render:usage-cli-completions'
run = [
    'usage generate fig -f cli/usage.usage.kdl --out-file cli/assets/fig.ts',
    'prettier -w cli/assets/fig.ts',
]

[tasks.release]
run = "cargo release --workspace"

[tasks.snapshots]
run = "cargo insta test --accept"

[task_config]
includes = ['tasks']

[tasks.install-dev]
run = "cargo install --path cli --debug"
