{%- if arg.help_md %}

{{ arg.help_md | escape_md }}
{%- endif %}
{%- if arg.choices %}

**Choices:**
{% for choice in arg.choices.choices %}
- `{{ choice }}`
{%- endfor %}
{%- endif %}
{%- if arg.default | length > 0 %}

**Default:** {% for d in arg.default %}`{{ d }}`{% if not loop.last %}, {% endif %}{% endfor %}
{%- endif %}
{%- if arg.env %}

**Environment Variable:** `{{ arg.env }}`
{%- endif -%}
