{%- if arg.help_md %}

{{ arg.help_md | escape_md }}
{%- endif %}
{%- if arg.choices %}

**Choices:**
{% for choice in arg.choices.choices %}
- `{{ choice }}`
{%- endfor %}
{%- endif %}
{%- if arg.default %}

**Default:** `{{ arg.default }}`
{%- endif %}
{%- if arg.env %}

**Environment Variable:** `{{ arg.env }}`
{%- endif -%}
