- **`{{ arg.usage }}`**{% if arg.help_md %} — {{ arg.help_md | escape_md_indented }}{% endif %}
{%- if arg.admonitions %}
{%- for admonition in arg.admonitions %}

  > **{% if admonition.kind == "warning" %}Warning{% else %}Note{% endif %}:** {{ admonition.text | escape_md | replace(from="\n", to="\n  > ") }}
{%- endfor %}
{%- endif %}
{%- if arg.choices and arg.choices.choices %}

  **Choices:** {% for choice in arg.choices.choices %}`{{ choice }}`{% if not loop.last %}, {% endif %}{% endfor %}
{%- endif %}
{%- if arg.choices and arg.choices.env %}

  **Choices Environment Variable:** `{{ arg.choices.env }}`
{%- endif %}
{%- if arg.default | length > 0 %}

  **Default:** {% for value in arg.default %}`{{ value }}`{% if not loop.last %}, {% endif %}{% endfor %}
{%- endif %}
{%- if arg.env %}

  **Environment Variable:** `{{ arg.env }}`
{%- endif %}
{%- if arg.env_fallback | length > 0 %}

  **Environment Fallbacks:** {% for env in arg.env_fallback %}`{{ env }}`{% if not loop.last %}, {% endif %}{% endfor %}
{%- endif %}
{%- if arg.deprecated_env | length > 0 %}

  **Deprecated Environment Variables:** {% for env in arg.deprecated_env %}`{{ env }}`{% if not loop.last %}, {% endif %}{% endfor %}
{%- endif %}
