{%- if flag.help_md %}

{{ flag.help_md | escape_md }}
{%- endif %}
{%- if flag.arg.choices %}

**Choices:**
{% for choice in flag.arg.choices.choices %}
- `{{ choice }}`
{%- endfor %}
{%- endif %}
{%- if flag.default | length > 0 %}

**Default:** {% for d in flag.default %}`{{ d }}`{% if not loop.last %}, {% endif %}{% endfor %}
{%- endif %}
{%- if flag.env %}

**Environment Variable:** `{{ flag.env }}`
{%- endif -%}
