{%- if flag.help_md %}

{{ flag.help_md | escape_md }}
{%- endif %}
{%- if flag.arg.choices %}

**Choices:**
{% for choice in flag.arg.choices.choices %}
- `{{ choice }}`
{%- endfor %}
{%- endif %}
{%- if flag.default %}

**Default:** `{{ flag.default }}`
{%- endif %}
{%- if flag.env %}

**Environment Variable:** `{{ flag.env }}`
{%- endif -%}
