{%- if cmd.before_help %}{{ cmd.before_help }}

{% elif spec.before_help %}{{ spec.before_help }}

{% endif -%}
{%- if root %}
{%- if spec.name and spec.version %}{{ spec.name }} {{ spec.version }}
{% elif spec.version %}{{ spec.bin }} {{ spec.version }}
{% endif -%}
{%- if spec.about %}{{ spec.about }}

{% endif -%}
{%- else -%}
{%- if cmd.help %}{{ cmd.help }}

{% endif -%}
{%- endif -%}
Usage: {{ (spec.bin ~ " " ~ cmd.usage) | trim }}

{%- if cmd.subcommands %}

Commands:
{%- for cmd in cmd.subcommands | values | sort(attribute="usage") %}
  {{ cmd.usage | trim }}
{%- if cmd.deprecated %} [deprecated: {{ cmd.deprecated }}]{%- endif %}
{%- if cmd.aliases %} [aliases: {{ cmd.aliases | join(sep=", ") }}]{% endif %}
{%- if cmd.help %}  {{ cmd.help }}{%- endif %}
{%- endfor %}
  help  Print this message or the help of the given subcommand(s)
{%- endif %}

{%- for group in cmd.arg_groups %}

{{ group.heading | default(value="Arguments") }}:
{%- for arg in group.items %}
  {% if arg.help %}{{ arg.usage | trim | ljust(width=arg.usage_col_width) }}  {{ arg.help }}{% else %}{{ arg.usage | trim }}{% endif %}
{%- if arg.choices and arg.choices.choices %} [{{ arg.choices.choices | join(sep=", ") }}]{%- endif %}
{%- if arg.choices and arg.choices.env %} [choices env: {{ arg.choices.env }}]{%- endif %}
{%- if arg.env %} [env: {{ arg.env }}]{%- endif %}
{%- if arg.default %} (default: {{ arg.default | join(sep=", ") }}){%- endif %}
{%- endfor %}
{%- endfor %}

{%- for group in cmd.flag_groups %}

{{ group.heading | default(value="Flags") }}:
{%- for flag in group.items %}
  {% if flag.help %}{{ flag.display_usage | ljust(width=flag.usage_col_width) }}{% if flag.aliases %}  [aliases: {{ flag.aliases | join(sep=", ") }}]{% endif %}  {{ flag.help }}{% else %}{{ flag.display_usage }}{% if flag.aliases %}  [aliases: {{ flag.aliases | join(sep=", ") }}]{% endif %}{% endif %}
{%- if flag.arg.choices and flag.arg.choices.choices %} [{{ flag.arg.choices.choices | join(sep=", ") }}]{%- endif %}
{%- if flag.arg.choices and flag.arg.choices.env %} [choices env: {{ flag.arg.choices.env }}]{%- endif %}
{%- if flag.env %} [env: {{ flag.env }}]{%- endif %}
{%- endfor %}
{%- endfor %}

{%- if global_flags %}

Global flags:
{%- for flag in global_flags %}
  {% if flag.help %}{{ flag.display_usage | ljust(width=flag.usage_col_width) }}{% if flag.aliases %}  [aliases: {{ flag.aliases | join(sep=", ") }}]{% endif %}  {{ flag.help }}{% else %}{{ flag.display_usage }}{% if flag.aliases %}  [aliases: {{ flag.aliases | join(sep=", ") }}]{% endif %}{% endif %}
{%- if flag.arg.choices and flag.arg.choices.choices %} [{{ flag.arg.choices.choices | join(sep=", ") }}]{%- endif %}
{%- if flag.arg.choices and flag.arg.choices.env %} [choices env: {{ flag.arg.choices.env }}]{%- endif %}
{%- if flag.env %} [env: {{ flag.env }}]{%- endif %}
{%- endfor %}
{%- endif %}

{%- if cmd.examples %}

Examples:
{%- for example in cmd.examples %}
{%- if example.header %}
  {{ example.header }}:
{%- endif %}
    $ {{ example.code }}
{%- endfor %}
{%- elif spec.examples %}

Examples:
{%- for example in spec.examples %}
{%- if example.header %}
  {{ example.header }}:
{%- endif %}
    $ {{ example.code }}
{%- endfor %}
{%- endif %}

{%- if cmd.after_help %}

{{ cmd.after_help }}
{%- elif spec.after_help %}

{{ spec.after_help }}
{%- endif -%}
