name: publish-cli

permissions:
  contents: write

on:
  push:
    tags: ["v*"]
  workflow_dispatch:

concurrency:
  group: publish-cli-${{ github.ref_name }}

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  DRY_RUN: ${{ !startsWith(github.ref, 'refs/tags/v') }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NPM_CONFIG_FUND: false

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: jdx/mise-action@v2
      - name: Create draft release
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: |
          gh release create --draft ${{ github.ref_name }} \
            --title "${{ github.ref_name }}" \
            --notes "$(git cliff --tag ${{ github.ref_name }} --strip all --unreleased)"
  build-and-publish:
    needs: [create-release]
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: universal-apple-darwin
            os: macos-latest
            build-tool: cargo
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            build-tool: cross
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            build-tool: cross
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
            build-tool: cross
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
            build-tool: cross
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - uses: jdx/mise-action@v2
        with:
          experimental: true
      - if: matrix.os == 'macos-latest'
        uses: apple-actions/import-codesign-certs@v5
        with:
          p12-file-base64: ${{ secrets.APPLE_DEVELOPER_ID_APPLICATION_CERTS_P12 }}
          p12-password: ${{ secrets.APPLE_DEVELOPER_ID_APPLICATION_CERTS_P12_PASS }}
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: usage
          token: ${{ secrets.GITHUB_TOKEN }}
          target: ${{ matrix.target }}
          build-tool: ${{ matrix.build-tool }}
          manifest-path: cli/Cargo.toml
          codesign: "Developer ID Application: Jeffrey Dickey (4993Y37DX6)"
          codesign_prefix: dev.jdx.
          dry-run: ${{ github.event_name == 'workflow_dispatch' }}
        env:
          CARGO_PROFILE_RELEASE_CODEGEN_UNITS: 1
          CARGO_PROFILE_RELEASE_LTO: true
  bump-homebrew-formula:
    runs-on: macos-latest
    needs: [release]
    timeout-minutes: 10
    continue-on-error: true
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    steps:
      - name: Bump Homebrew formula
        uses: dawidd6/action-homebrew-bump-formula@3428a0601bba3173ec0bdcc945be23fa27aa4c31 # v5
        with:
          token: ${{ secrets.GH_BOT_TOKEN }}
          formula: usage
  release:
    runs-on: ubuntu-latest
    needs: [build-and-publish]
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: jdx/mise-action@v2
      - run: gh release edit ${{ github.ref_name }} --draft=false
        if: ${{ github.event_name != 'workflow_dispatch' }}
