name: publish-cli

permissions:
  contents: write

on:
  push:
    tags: ["v*"]

concurrency:
  group: publish-cli-${{ github.ref_name }}

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  NPM_CONFIG_FUND: false
  DRY_RUN: ${{ !startsWith(github.ref, 'refs/tags/v') }}

jobs:
  build:
    strategy:
      matrix:
        include:
          - target: universal-apple-darwin
            os: macos-latest
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: jdx/mise-action@v2
        with:
          experimental: true
      - if: matrix.os == 'macos'
        uses: apple-actions/import-codesign-certs@v3
        with:
          p12-file-base64: ${{ secrets.APPLE_DEVELOPER_ID_APPLICATION_CERTS_P12 }}
          p12-password: ${{ secrets.APPLE_DEVELOPER_ID_APPLICATION_CERTS_P12_PASS }}
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: usage
          token: ${{ secrets.GITHUB_TOKEN }}
          target: ${{ matrix.target }}
          manifest-path: cli/Cargo.toml
          dry_run: ${{ startsWith(github.ref, 'refs/tags/v') }}
          codesign: true
          codesign_prefix: dev.jdx.
        env:
          CARGO_PROFILE_RELEASE_CODEGEN_UNITS: 1
          CARGO_PROFILE_RELEASE_LTO: true
  bump-homebrew-formula:
    runs-on: macos-latest
    timeout-minutes: 10
    continue-on-error: true
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    steps:
      - name: Bump Homebrew formula
        uses: dawidd6/action-homebrew-bump-formula@v3
        with:
          token: ${{ secrets.GH_BOT_TOKEN }}
          formula: usage
      - name: Bump Homebrew formula
        uses: dawidd6/action-homebrew-bump-formula@v3
        with:
          token: ${{ secrets.GH_BOT_TOKEN }}
          formula: usage
          tap: jdx/homebrew-tap
  bump-aur:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: jdx/mise-action@v2
        with:
          experimental: true
      - uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.AUR_SSH_KEY }}
          known_hosts: ${{ secrets.AUR_KNOWN_HOSTS }}
      - uses: actions/download-artifact@v4
        with:
          pattern: usage-*.tar.gz
          merge-multiple: true
      - run: mise run bump-aur usage
      - run: mise run bump-aur usage-bin
