name: release-plz

permissions:
  pull-requests: write
  contents: write

on:
  push:
    branches:
      - main
      - release-plz

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NPM_CONFIG_FUND: false

concurrency:
  group: release-plz

jobs:
  release-plz:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.MY_RELEASE_PLEASE_TOKEN }}
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: test
          save-if: false
      - uses: taiki-e/install-action@cargo-binstall
      - uses: jdx/mise-action@v2
        with:
          experimental: true
      - run: mise trust --all
      - run: mise run release-plz
        env:
          GITHUB_TOKEN: ${{ secrets.MY_RELEASE_PLEASE_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
